In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy_utils import database_exists, create_database
Base = declarative_base()

In [2]:
engine = create_engine('sqlite:///resources/hawaii.sqlite')

if not database_exists(engine.url):
    create_database(engine.url)
conn = engine.connect()

In [3]:
class Measurement (Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key = True)
    station_id = Column(String(12))
    date = Column(String(12))
    precip = Column(Float)
    temp = Column(Integer)

class Station (Base):
    __tablename__ = 'stations'
    station_id = Column(String(12),primary_key = True)
    station_name = Column(String(127))
    lat = Column(Float)
    lon = Column(Float)
    alt = Column(Float)

In [4]:
# Create the garbage_collection table within the database
Base.metadata.create_all(conn)

# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [5]:
measurements = pd.read_csv("Resources/clean_hawaii_measurements.csv")
stations = pd.read_csv("Resources/clean_hawaii_stations.csv")

In [7]:
#measurements = measurements.reset_index(level = 0)
measurements.head()

   index  Unnamed: 0      station        date  prcp  tobs
0      0           0  USC00519397  2010-01-01  0.08    65
1      1           1  USC00519397  2010-01-02  0.00    63
2      2           2  USC00519397  2010-01-03  0.00    74
3      3           3  USC00519397  2010-01-04  0.00    76
4      4           4  USC00519397  2010-01-06   NaN    73

In [9]:
committers = []
measurements.apply(lambda row:session.add(Measurement(id = row['index'],station_id = row['station'],date=row['date'], precip=None if np.isnan(row['prcp']) else row['prcp'],temp=row['tobs'])),axis=1)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
19520    None
19521    None
19522    None
19523    None
19524    None
19525    None
19526    None
19527    None
19528    None
19529    None
19530    None
19531    None
19532    None
19533    None
19534    None
19535    None
19536    None
19537    None
19538    None
19539    None
19540    None
19541    None
19542    None
19543    None
19544    None
19545    None
19546    None
19547    None
19548    None
19549    None
Length: 19550, dtype: object

In [10]:
session.commit()

In [11]:
stations.apply(lambda row:session.add(Station(station_id=row['station'],station_name = row['name'],lat = row['latitude'],lon = row['longitude'],alt = row['elevation'])),axis=1)
session.commit()