In [1]:
import pandas as pd
import numpy as np

In [4]:
measurements = pd.read_csv('Resources/hawaii_measurements.csv')
stations = pd.read_csv('Resources/hawaii_stations.csv')

In [7]:
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [20]:
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [17]:
measurements['date']

0        2010-01-01
1        2010-01-02
2        2010-01-03
3        2010-01-04
4        2010-01-06
5        2010-01-07
6        2010-01-08
7        2010-01-09
8        2010-01-10
9        2010-01-11
10       2010-01-12
11       2010-01-14
12       2010-01-15
13       2010-01-16
14       2010-01-17
15       2010-01-18
16       2010-01-19
17       2010-01-20
18       2010-01-21
19       2010-01-22
20       2010-01-23
21       2010-01-24
22       2010-01-25
23       2010-01-26
24       2010-01-27
25       2010-01-28
26       2010-01-30
27       2010-01-31
28       2010-02-01
29       2010-02-03
            ...
19520    2017-07-24
19521    2017-07-25
19522    2017-07-26
19523    2017-07-27
19524    2017-07-28
19525    2017-07-29
19526    2017-07-30
19527    2017-07-31
19528    2017-08-01
19529    2017-08-02
19530    2017-08-03
19531    2017-08-05
19532    2017-08-06
19533    2017-08-07
19534    2017-08-08
19535    2017-08-09
19536    2017-08-10
19537    2017-08-11
19538    2017-08-12
19539    2017-08-13
19540    2017-08-14
19541    2017-08-15
19542    2017-08-16
19543    2017-08-17
19544    2017-08-18
19545    2017-08-19
19546    2017-08-20
19547    2017-08-21
19548    2017-08-22
19549    2017-08-23
Name: date, Length: 19550, dtype: object

In [19]:
#NaN and Null go to Null in db when I insert, so I don't care about anything since there's no additional shrapnel/fragments in the data
measurements.to_csv('Resources/clean_hawaii_measurements.csv')
stations.to_csv('Resources/clean_hawaii_stations.csv')